{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading"><h3>Welcome To My Project!</h3></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello and thank you for visiting my blog app. The main scope of this project is to demonstrate some of my work. In blog entries, there are some simple display post examples. Also included as posts are links to the source code for this project and some others. This is a RESTful app. Scripted in Python3. Built using Flask, Bootstrap, Jinja, SQL, SQLalchemy, CKEditor, Flask-Mail, WTForms, and several other libraries.</p>
        <p>This is a fully functioning responsive site. Users can register by creating a user name and password. They are stored in the database. Passwords are encrypted, hashed and salted. Once authenticated, users can add and edit their own post entries, comment on posts, and login and out. ( Note: I have "create posts" set to admin only now.. just for portfolio purposes here. ) You can see some of my other projects on github.</p>
        <p>I am a freelance programmer. I enjoy playing guitar, riding motorcycles, coding, and creating. Through music and recording I developed a passion for computer science and programming.</p>
        <p>I love technology, it fascinates and inspires me. It grants us the power to bring our ideas to life and make positive change. I want to be actively involved in it's development and advancement. I aim to join a team of talented creative individuals with whom I can share my ideas, contribute my abilities, and continuously learn from. If you'd like to connect, I welcome you to get in touch with me on the contact page.</p>
         </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}